.accordion-body {
    font-size: 15px;
    background-color: floralwhite;
    padding-left: 3%;
}

.accordion-button {
    background-color: white;
}

.text-gray {
    font-size: small;
}

.text-black {
    font-size: smaller;
}

.icon-top {
    color: darkorange;
    padding-left: 24px;
}

.icon {
    color: darkorange;
    padding-left: 18px;
}

.fa-circle-plus {
    font-size: 40px;
}

.addData-icon {
    color: darkorange;
    margin-top: 230px;
    position: absolute;
}

.edit-icon {
    color: darkorange;
    font-size: 40px;
    margin-top: 245px;
    position: relative;
}

.title {
    font-size: 14px;
}

.side-button {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: end;
    margin-bottom: 22px;
}

.mat-badge,
.mat-badge1,
.mat-badge2 {
    position: absolute;
}

.form-control,
.form-select {
    background-color: #f8f9fa;
}

.modal-header {
    background-color: seashell;
}


@media(min-width:321px) and (max-width:768px) {
    .icon-top {
        color: darkorange;
        padding-left: 19px;
    }

    .icon {
        color: darkorange;
        padding-left: 11px;
    }

    .username {
        font-size: small;
    }

    .text {
        font-size: 12px;
    }

    .addData-icon {
        color: darkorange;
        margin-left: -10px;
        margin-top: 200px;
        position: absolute;
    }

    .edit-icon {
        color: darkorange;
        font-size: 40px;
        margin-left: -10px;
        margin-top: 220px;
        position: absolute;
    }

    .side-button {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: end;
        margin-bottom: 280px;
    }

    .accordion-body {
        background-color: floralwhite;
        padding-left: 3%;
    }

    .title {
        font-size: 13px;
    }

    .modal-content {
        width: 100%;
    }
}