.font {
    font-size: 15px;
    background-color: floralwhite;
    padding-left: 3%;
}

.accordion-button {
    background-color: white;
}

.text-gray {
    font-size: small;
}

.text-black {
    font-size: smaller;
}

.icon {
    color: darkorange;
    padding-left: 24px;
}

.icon1 {
    color: darkorange;
    padding-left: 18px;
}

.fa-circle-plus {
    font-size: 40px;
}

.icons {
    color: darkorange;
    margin-top: 230px;
    position: absolute;
}

.icons1 {
    color: darkorange;
    font-size: 40px;
    margin-top: 245px;
    position: relative;
}

.para {
    font-size: 14px;
}


.side-button {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: end;
    margin-bottom: 22px;
}

.mat-badge {
    position: absolute;
}

.mat-badge1 {
    position: absolute;
}

.mat-badge2 {
    position: absolute;
}

/* .modal-content{
    width: 150%;
} */
.form-control {
    background-color: #f8f9fa;
}

.form-select {
    background-color: #f8f9fa;
}

.modal-header {
    background-color: seashell;
}

.colse {
    color: black;
    font-size: 30px;
}


@media(min-width:321px) and (max-width:768px) {
    .table {
        font-size: smaller;
    }

    .icon {
        color: darkorange;
        padding-left: 19px;
    }

    .icon1 {
        color: darkorange;
        padding-left: 11px;
    }

    .names {
        font-size: small;
    }

    .text {
        font-size: 12px;
    }

    .btn {
        font-size: inherit
    }

    .icons {
        color: darkorange;
        margin-left: -10px;
        margin-top: 200px;
        position: absolute;
    }

    .icons1 {
        color: darkorange;
        font-size: 40px;
        margin-left: -10px;
        margin-top: 220px;
        position: absolute;
    }

    .side-button {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: end;
        margin-bottom: 280px;
    }

    .font {
        background-color: floralwhite;
        padding-left: 3%;
    }

    .para {
        font-size: 13px;
    }

    .modal-content {
        width: 100%;
    }
}

@media(max-width:320px) {
    .table {
        width: 320px;
    }

    .modal-content {
        width: 100%;
    }
}
























/* @media(min-width:1024px) and (max-width:1439px) {
    .icon {
        color: darkorange;
        padding-left: 18px;
    }
} */