<div class="container">
  <div>
    <nav class="navbar navbar-expand-lg navbar- navbar-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="container">
            <ul class="nav" style="border-bottom: 3px solid orange;">
              <li class="nav-item " routerLinkActive="Active rounded">
                <a class="nav-link px-4 active" routerLink="landing">All</a>
              </li>
              <li class="nav-item" routerLinkActive="Active rounded">
                <a class="nav-link px-4" routerLink="post">Fresh</a>
              </li>
              <li class="nav-item" routerLinkActive="Active rounded">
                <a class="nav-link px-4 active" routerLink="edit">Follow-up</a>
              </li>
              <li class="nav-item" routerLinkActive="Active rounded">
                <a class="nav-link px-4 active" routerLink="walkin">Walkin</a>
              </li>
              <li class="nav-item" routerLinkActive="Active rounded">
                <a class="nav-link px-4 active" routerLink="in-future">In-Future</a>
              </li>
              <li class="nav-item" routerLinkActive="Active rounded">
                <a class="nav-link px-4 active" routerLink="enrolled">Enrolled</a>
              </li>
              <li class="nav-item" routerLinkActive="Active rounded">
                <a class="nav-link px-4 active" routerLink="closed">Closed</a>
              </li>
              <li class="nav-item" routerLinkActive="Active rounded">
                <a class="nav-link px-4 active" routerLink="referred">Referred From Me</a>
              </li>
              <li class="nav-item" routerLinkActive="Active rounded">
                <a class="nav-link px-4 active" routerLink="re-enquried">Re-Enquried</a>
              </li>
              <li class="nav-item" routerLinkActive="Active rounded">
                <a class="nav-link px-4 active" routerLink="online">Online</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
 